.ItemCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  padding: 5px 10px;
  background-color: rgba(209, 209, 209, 0.589);
  margin: 20px 0;
  border-radius: 5px;
}

.ItemCard .btn {
  display: flex;
  align-items: center;
  padding: 5px 0;
}
.ItemCard .btn .icon {
  height: 1.5rem;
  width: 1.5rem;
  margin: 0 5px 0 0;
  cursor: pointer;
}
.ItemCard .btn .edit.icon {
  color: green;
}
.ItemCard .btn .delete.icon {
  color: rgb(173, 11, 11);
}

.ItemCard p {
  font-size: 18px;
  color: black;
  font-weight: 700;
  letter-spacing: 1px;
}
