.App {
  text-align: center;
  width: 100vw;
  display: flex;
  justify-content: center;
}
.App .Card {
  width: 24%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.3);
  padding: 10px 20px;
  border-radius: 10px;
  background-color: white;
}
.App .heading {
  color: rgb(235, 125, 0);
  text-transform: capitalize;
  font-size: 30px;
  letter-spacing: 2px;
}
.App form {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
}
.App form input,
.App form button {
  height: 35px;
  padding: 5px 10px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  outline: 0;
  border-radius: 5px;
}
.App form input {
  width: 80%;
  border: none;
  background-color: rgb(214, 216, 218);
}
.App form button {
  border: 1px solid rgb(235, 125, 0);
  cursor: pointer;
  background-color: white;
  color: rgb(235, 125, 0);
}
.App form button:hover {
  background-color: rgba(196, 147, 57, 0.438);
}

@media screen and (max-width: 1376px) {
  .App .Card {
    width: 36%;
  }
}

@media screen and (max-width: 1024px) {
  .App .Card {
    width: 60%;
  }
}

@media screen and (max-width: 720px) {
  .App .Card {
    width: 80%;
  }
  .App .Card Form button {
    margin: 0 10px;
  }
}
